
.sixtyfour-convergence-<uniquifier> {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 12,
    "SCAN" -28,
    "XELA" -100,
    "YELA" -83;
}



nav ul {
  display: flex; 
  justify-content: center; 
  gap: 20px;
  list-style: none; 
  padding: 0; 
  margin: 0;
  margin-top:30px;
}

nav li a {
  padding: 8px 15px; 
  display: block;
}

.navbar {
	overflow: hidden; 
	background-color: #000000; 
	position: fixed; 
	top: 0 
	width: 100%; 
	align-items: center; 
        justify-items: center;
}




body {
    background-color: #000000; 
    min-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    font-family: "Georgia";
    font-size: large;
}
 

h1 {
    font-family: "Sixtyfour Convergence";
    align-items: center;
    justify-items: center;
}


a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
} 

a:hover{
    text-decoration: none;
    color: red;
}


.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 0 0;
    color: #FFFFFF;

}


.lead h1 {
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: #FFFFFF;
}

.lead h2 {
    text-align: center;
    font-family: "Monaco";
    font-size: x-large;
    margin-top: 0;
    color: #FFFFFF;
}


.lead img {
    max-width: 100%;
    height: auto; 
    object-fit: fill;
    }


.bar {
    word-spacing: 0.3rem;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    color: #FFFFFF;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 3rem 0 0 0rem;
    flex-wrap: wrap;
}


.top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}



.center-image {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: auto; 
  height: auto; 
  object-fit: fill;
}

.text {
  color: #FFFFFF; 
}

/* img{
  width: 800px;
  height: 600px;
}
*/

.highlight { 
	border: 2px solid #FFFFFF; 
        width: 60%;    
        position: relative; 
	left: 800px;
	margin-top: 200px;
	padding-bottom: 20px;
	
} 







